<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href={{ url_for('static', filename='css/fonts.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/markdown.css') }}>


    <!-- Titulo -->
    <title>Lowerbound - {{title}}</title>
</head>
<body class="bg-gray-800 container mx-auto">

    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            config: ["MMLorHTML.js"],
            jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
            extensions: ["MathMenu.js", "MathZoom.js"],
            TeX: {
                extensions: ["AMSmath.js"]
            },
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                processEscapes: true
            }
        });
    </script>
</body>
</html>