{% macro header() -%}
<!-- Header -->
<div class="grid grid-cols-1 xl:grid-cols-3 bg-gray-50 m-10 rounded-lg place-items-center pt-2 pb-2">

    <div class="m-4">
        <div class="m-auto">
            <h1 class="text-5xl text-gray-800 font-montserrat">Lowerbound</h1>
            <h2 class="text-base text-right">Estructuras de datos y algoritmos en español</h2>
        </div>
    </div>
    <div class="grid grid-cols-1 col-span-2 lg:grid-cols-3 w-full text-center">
        <a href="/" class="font-bold text-gray-800 text-3xl font-open-sans"> INICIO </a>
        <a href="#" class="font-bold text-gray-800 text-3xl font-open-sans"> COLABORADORES </a>
        <a href="#" class="font-bold text-gray-800 text-3xl font-open-sans"> DONACIÓN </a>
    </div>
</div>
{%- endmacro %}